/*
    Edit me.
*/


.appContainer {
    background-color: #292929;
    transition: background-color 3s ease;
    color: white;
    padding: 20px;
    margin-top: 10px;

}
.boxContainer {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.makeItCenter {
    display: flex;
    justify-content: center;
}

.appContainer.tournamentEnded {
    background-color: #00cacf;
}

.box {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 10px;
}
.appContainer .matchDone {
    background-color: #00cacf;
    transition: all 0.5s ease;
}
.appContainer.tournamentEnded .matchDone{
    background-color: #292929;
}

.matchToBeDone {
    background-color: gray;
}